@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 10px;
	font-family: 'Delius', cursive;

	/*		font-family: 'Do Hyeon', sans-serif;*/
}

.section_wrap .section {
	width: 100%;
	height: 100vh;
	/*	height: 100vh;*/
	position: relative;
}

.section_wrap .home {
	width: 100%;
	position: relative;
	background-color: #9ebad0;
/*	background: url("http://westai.co.kr/images/portfolio/bgi_page1.jpg") no-repeat center center;*/
}

.section_wrap .nav {
	position: relative;
	z-index: 100;

}

.section_wrap .nav .nav_btn {
	position: fixed;
	top: 10px;
	right: 20px;
	z-index: 30;
	cursor: pointer;
/*	display: none;*/
}

.section_wrap .nav .nav_btn .btn {
	display: block;
	width: 45px;
	height: 2px;
	background-color: #f2f2f2;
}
.section_wrap .nav .nav_wrap .close-btn{
position: fixed; top: 25px; right: 15px; z-index: 32;
cursor: pointer; 
/* display: none; */
}
.section_wrap .nav .nav_wrap .close-btn.active span{
	transition: margin 0.25s, transform 0.25s 0.25s;
}
.section_wrap .nav .nav_wrap .close-btn.active .c-btn.f{
	transform: rotate(0deg);
}
.section_wrap .nav .nav_wrap .close-btn.active .c-btn.s{
	transform: rotate(0deg);
}
.section_wrap .nav .nav_wrap .close-btn .c-btn{
	display: block; width: 40px; height: 3px; background-color: #f2f2f2;
}

.section_wrap .nav .nav_wrap .close-btn .c-btn.f{
	position: absolute;
	transform: rotate(45deg);
	
}
.section_wrap .nav .nav_wrap .close-btn .c-btn.s{
	
	transform: rotate(-45deg);
}
.section_wrap .nav .nav_btn .btn.ham1 {
	margin-bottom: 13px;
}

.section_wrap .nav .nav_btn .btn.ham2 {}

.section_wrap .nav .nav_btn .btn.ham3 {
	margin-top: 13px;
}

.section_wrap .nav .nav_btn.click span {
	transition: margin 0.25s, transform 0.25s 0.25s;
	
}

.section_wrap .nav .nav_btn.click .btn.ham1 {
	margin-top: 8px;
	margin-bottom: -4px;
	/* transform: rotate(45deg); */
}

.section_wrap .nav .nav_btn.click .btn.ham2 {
	/* transform: rotate(45deg); */

}

.section_wrap .nav .nav_btn.click .btn.ham3 {
	margin-top: -4px;

	/* transform: rotate(135deg); */
}



.section_wrap .nav .nav_wrap {
	position: fixed;
	right: 0;
	width: 20%;
	height: 1000px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
	display: none;
}

/*
.home .nav .nav_wrap .close_btn{
	display: inline-block; position: absolute; font-size: 2.5rem; right: 20px; top: 20px; color: #fff; cursor: pointer;
}
*/
.section_wrap .nav .nav_wrap ul li {

	position: relative;
	top: 250px;
	text-align: center;
	font-size: 3rem;
	color: #f7f7f7;
	margin-bottom: 30px;
	padding: 10px;
	letter-spacing: -1px;
	cursor: pointer;

}

.section_wrap .nav .nav_wrap ul li:hover,
.section_wrap .nav .nav_wrap ul li.active
{
	color: #9ebad0;
	font-weight: bold;
}



.section_wrap .home .logo-wrap {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1) translateZ(0);
	animation: bounceIn 0.6s;
  	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
}
.section_wrap .home .logo-wrap:hover{
	transform: rotate(10deg) scale(1.1);
}
.section_wrap .home .logo-wrap img {
	width: 100%; left: 50%;
	transform: translateX(-50%);
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.section_wrap .home .txt-wrap{
	display: none; 
}

.section_wrap .home .typing {
	position: absolute; left: 50%; transform: translateX(-50%); top: 60%; text-align: center;
}
.section_wrap .home .typing ul li{
	display: block;
	font-size: 6rem;
	font-weight: bold;
	padding-bottom: 5%;
	color: #fff;
	font-family: 'Delius', cursive;
	
	

}
.section_wrap .home .typing ul li.on{
	display: inline-block;
	animation-name: cursor;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	margin-top: 1%;
	font-size: 6rem;
	font-weight: bold;
	color: #fff;
	font-family: 'Delius', cursive;
	font-weight: bold;

}

@keyframes cursor {
	0% {
		border-right: 1px solid #fff
	}

	50% {
		border-right: 1px solid #000
	}

	100% {
		border-right: 1px solid #fff
	}
}

.section_wrap .profile {
	position: relative;
	background-color: #f2f2f2;
/*	background: url("http://westai.co.kr/images/portfolio/bgi_page2.jpg") center center no-repeat;*/
	background-size: 100% 100%;
}

.section_wrap .profile .pro_wrap {
	width: 100%;
	height: 100%;
	padding-left: 10%;
}

.section_wrap .profile .pro_wrap .left_wrap {
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 30%;
	text-align: center;
	top: 15%;
}

.section_wrap .profile .pro_wrap .left_wrap .top_con {
	width: 60%;
}

.section_wrap .profile .pro_wrap .left_wrap .pro_btn {
	width: 60%;
	position: relative;
	padding-top: 3%;
	margin-bottom: 20px;
	
}

.section_wrap .profile .pro_wrap .left_wrap .pro_btn span {
	display: inline-block;
	position: absolute;
	padding: 3% 5%;
	box-sizing: border-box;
	font-size: 2.5rem;
	left: 50%;
	transform: translateX(-50%);
	color: #9ebad0;
	cursor: pointer;
	border: 1px solid #9ebad0;

}

.section_wrap .profile .pro_wrap .left_wrap .pro_btn span:hover {
	background-color: #9ebad0;
	color: #fff;
	border: 0;
}

.pro-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	top: 0;
	z-index: 1000;
	overflow: scroll;
	display: none;
}

.pro-modal img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	top: 0;
	bottom: 0;
	z-index: 1000;
}

.pro-modal span {
	position: fixed;
	right: 3%;
	font-size: 10rem;
	cursor: pointer;
	color: #6182ab;
	z-index: 1001;
}

.section_wrap .profile .pro_wrap .left_wrap ul {
	padding-top: 5%;
}

.section_wrap .profile .pro_wrap .left_wrap ul li {
	font-size: 1.9rem;
	font-weight: bold;
	color: #2e323a;
	text-align: left;
	margin: 0 0 2% 4%;
	font-family: 'Sunflower', sans-serif;
}

.section_wrap .profile .pro_wrap .left_wrap ul li.top {
	font-size: 2.9rem;
	font-weight: bold;
	margin: 4% 0;
	color: #3a62b7;
}

.section_wrap .profile .pro_wrap .right_wrap {
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 65%;
	top: 15%;
}

.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li img {
	margin-right: 30px;

}

.section_wrap .profile .pro_wrap .right_wrap .icon_con .progress {
	display: inline-block;
	width: 430px;
	width: 51%;
	height: 15px;
	margin-bottom: 30px;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
}

.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li {
	font-size: 2rem;
	color: #2e323a;
/*	font-family: 'Jua', sans-serif;*/
	font-family: 'Sunflower', sans-serif;
	font-weight: bold;
	
}
.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li ul li{
	margin-left: 12%;
}

/*프로필끝//*/
.section_wrap .work {
	background-color: #f2f2f2;
/*	background: url("http://westai.co.kr/images/portfolio/bgi_page2.jpg") center center no-repeat;*/
/*	background-size: 100% 100%;*/
	position: relative;
/*	font-weight: bold;*/

}

.section_wrap .work .w-work.swiper-container {
	max-width: 100%;
	height: 90%;
	overflow: hidden;

}

.section_wrap .work .w-work.swiper-container .swiper-wrapper {
	left: 10%;
	position: relative;
	top: 10%;	
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide {
	width: 100%; 
 }


.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left {
	float: left;
	width: 300px;
	padding-top: 8%;
	margin-left: 9%;
	text-align: center;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-top {
	padding-bottom: 3%;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom {
	background-color: #002157;
	padding-bottom: 22%;
	border-radius: 10px;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slide-left .left-bottom {
	background-color: #CC3441;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slide-left .left-bottom {
	background-color: #201F1D;
	padding-bottom: 49%;
	border-radius: 10px;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slide-left .left-bottom {
	background-color: #080808;
	padding-bottom: 35%;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(5) .slide-left .left-bottom {
	background-color: #e30c1c;
	padding-bottom: 55%;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(6) .slide-left .left-bottom {
	background-color: #345288;
	padding-bottom: 55%;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom h1 {
	padding-top: 15%;
	font-size: 3.4rem;
	color: #f2f2f2;
/*	font-weight: bold;*/
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-of-type(5) .slide-left .left-bottom h1,
.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-of-type(6) .slide-left .left-bottom h1 {
	font-family: 'Sunflower', sans-serif; font-weight: bold;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom p {
	padding: 4% 0;
	font-size: 2rem;
	color: #f2f2f2;
	font-family: 'Sunflower', sans-serif;
	font-weight: bold;

}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom p:nth-of-type(1) {
	padding-bottom: 2%;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom .btn {
	width: 100%;
	font-size: 1.8rem;
	margin: 5% 0 0;
}


.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom .btn span {
	display: inline-block;
	width: 55%;
	height: 35px;
	line-height: 35px;
	color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	cursor: pointer;
	font-family: 'Sunflower', sans-serif;
	font-weight: bold;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #002157;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #CC3441;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #201F1D;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #080808;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(5) .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #e30c1c;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide:nth-child(6) .slide-left .left-bottom .btn span:hover {
	background-color: #f2f2f2;
	color: #345288;
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-right {
	float: left;
/*	margin-left: 4%;*/
}

.section_wrap .work .w-work.swiper-container .swiper-wrapper .swiper-slide .slide-right img {
	width: 100%;
}
.section_wrap .work .w-work.swiper-container .swiper-pagination{
	bottom: 3%;
}
.section_wrap .work .w-work.swiper-container .swiper-button-next{
	right: 10%;
}
.section_wrap .work .w-work.swiper-container .swiper-button-prev{
	left: 10%;
}
/*모바일work*/
.section_wrap .work .m-work.swiper-container {
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
}

.section_wrap .m-work.swiper-container .swiper-slide {
	top: 10%;
	font-weight: bold;
}

/*
.section_wrap .m-work.swiper-container .swiper-slide img {
	width: 100%;
	height: auto;
}
*/

.section_wrap .m-work.swiper-container .swiper-slide .slide-bottom h1 {
	font-size: 3.4rem;
	color: #121212;
	margin-top: 5%;
	font-family: 'Sunflower', sans-serif;

}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(5) .slide-bottom h1,
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(6) .slide-bottom h1{
	margin-bottom: 3%;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(4) .slide-bottom p{
	margin-bottom: 2%;
}
.section_wrap .m-work.swiper-container .swiper-slide .slide-bottom p {
	font-size: 3rem;
	padding-top: 4%;
/*	font-family: 'Acme', sans-serif;*/
}

.section_wrap .m-work.swiper-container .swiper-slide .slide-bottom > span {
	display: block;
	font-size: 2.5rem;
	font-family: 'Sunflower', sans-serif;
}

.section_wrap .m-work.swiper-container .swiper-slide .slide-bottom .btn {
	display: inline-block;
	border-radius: 10px;
	font-family: 'Sunflower', sans-serif;
	font-size: 2.5rem;
	padding: 2%;
	margin: 3% 0 0 2%;
	background-color: #CC3441;
	color: #f2f2f2;
	cursor: pointer;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(2) .slide-bottom .btn{
	background-color: #002157;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(3) .slide-bottom .btn{
	background-color: #201F1D;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(4) .slide-bottom .btn{
	background-color: #080808;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(5) .slide-bottom .btn{
	background-color: #e30c1c;
}
.section_wrap .m-work.swiper-container .swiper-slide:nth-of-type(6) .slide-bottom .btn{
	background-color: #345288;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
	color: #345288;
}

.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover {
	color: #6182ab;
}

.work .con-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	top: 0;
	z-index: 1000;
	overflow: scroll;
	display: none;
}

.work .con-modal img {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 1000;
}

.work .con-modal span {
	position: fixed;
	right: 3%;
	font-size: 10rem;
	cursor: pointer;
	color: #080808;
	color: #080808;
	z-index: 1001;
}

/*work section//*/
.section_wrap .contact {
	background-color: #f2f2f2;
	position: relative;
/*	background: url("http://westai.co.kr/images/portfolio/bgi_page2.jpg") center center no-repeat;*/
	background-size: 100% 100%;
}

.section_wrap .contact .con_wrap {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 450px;
	height:450px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #9ebad0;
	border-radius: 100%;

}

.section_wrap .contact .con_wrap ul {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 37%;
	transform: translateX(-50%);
}

.section_wrap .contact .con_wrap ul li {
	text-align: center;
/*	font-family: 'Acme', sans-serif;*/
	font-size: 2rem;
	color: #f2f2f2;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;

}

.section_wrap .contact .con_wrap ul li span {

	padding-left: 30px;
}

.section_wrap .contact .con_wrap ul li span a {
/*	font-family: 'Acme', sans-serif;*/
	font-size: 2rem;
	color: #f2f2f2;
}

.section_wrap .contact .con_wrap ul li img {
	vertical-align: middle;
}

.section_wrap .indicator {
	width: 100%; 
	margin: 0 auto;
	position: fixed;
	left: 0; 
	top: 0;
	z-index: 99;
	background-color: #9ebad0;
	/*	display: none;*/
}
.section_wrap .indicator.click {
	display: none;
}

.section_wrap .indicator ul li {
	position: relative;
	float: left;
	text-align: center;
/*	width: 10%;*/
	margin:0 2%;
	height: 40px;
	line-height: 40px;
	font-size:1.9rem;
	padding: 7px 0;
	color: #f2f2f2;
	cursor: pointer;
	font-family: 'Delius', cursive;
}
.section_wrap .indicator ul li:last-of-type::after{
	content: ""; position: absolute; width: 300px; height: 1px; background-color: #fff;
	top: 50%; 
}


.section_wrap .indicator ul li.active {
	/*	color: #4b89dc;*/
	color: #003853;
	font-weight: bold;
	font-size: 2.6rem;

}


.section_wrap .contact p {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 5%;
	font-size: 1.6rem;
	color: #808080;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}


@media screen and (min-width :641px) and (max-width :1024px) {
	html,
	body {
		font-size: 9px;
	}
	.section_wrap .nav{
		display: none;
	}
	.section_wrap .profile{
		background: #f2f2f2;
	}
	.section_wrap .work{
		background: #f2f2f2;
	}
	.section_wrap .contact{
		background: #f2f2f2;
	}
	
	.indicator{
/*		display: none;*/
	}
		.section_wrap .indicator ul li:last-of-type::after{
	display: none; 
}
	.section_wrap .indicator ul li{
		width: calc(100%/4); margin: 0
	}

.section_wrap .nav .nav_wrap {
	width: 50%;
}
.section_wrap .nav .nav_wrap ul li {
	font-size: 3.5rem;

}
	.section_wrap .work > .w-work.swiper-container {
		display: none;
	}

	.section_wrap .work .m-work.swiper-container {
		display: block;
	}
		.pro-modal img {
	width: 100%;
}
	
	.section_wrap .nav .nav_btn{
		display: block;
	}
	.section_wrap .nav .nav_btn .btn{
		background-color: #121212;
	}
}

@media screen and (max-width :640px) {

	html,
	body {
		font-size: 8px;
	}
	.section_wrap .nav .nav_btn .btn {
	width: 45px;
}
	.section_wrap .nav{
		display: none;
	}

	.indicator{
/*		display: none;*/
	}
	.section_wrap .indicator ul li:last-of-type::after{
	display: none; 
}
	.section_wrap .indicator ul li{
		width: calc(100%/4); margin: 0
	}
	.section_wrap .profile{
		background: #f2f2f2;
	}
	.section_wrap .work{
		background: #f2f2f2;
	}
	.section_wrap .contact{
		background: #f2f2f2;
	}
	.section_wrap .home .txt-wrap .typing {
		font-size: 5.4rem; 
	}

	
	
	.section_wrap .work > .w-work.swiper-container {
		display: none;
	}



	.section_wrap .profile .pro_wrap {
		width: 90%;
		margin: 0 auto;

	}
	

	.section_wrap .profile .pro_wrap .left_wrap {
		width: 100%;
		top: 9%;
		clear: both;
	}
	


	.section_wrap .profile .pro_wrap .left_wrap .top_con img{
		width: 65%;
	}

	.section_wrap .profile .pro_wrap .right_wrap {
		width: 100%;
		clear: both;
		top: 10%;
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li {
		float: left;
		width: calc(100%/5);
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con ul p {
		display: none;
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li img {
		width: 80%;
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li .progress {
		display: none;
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con .progress {
		display: inline-block;
		/*	width: 430px;*/
		width: 51%;
		height: 15px;
		margin-bottom: 30px;
		border: 1px solid #000;
		border-radius: 10px;
		overflow: hidden;
	}

	.section_wrap .profile .pro_wrap .right_wrap .icon_con ul li ul li {
		display: none;
	}
	.pro-modal img {
	width: 100%;
}
	.section_wrap .work .m-work.swiper-container {
		display: block;
	}

	.section_wrap .m-work.swiper-container .swiper-slide img {
		width: 100%;
		height: auto;
	}

	.section_wrap .contact .con_wrap {
		height:300px;
		max-width: 300px;
	}

	.section_wrap .contact .con_wrap ul {
		top: 15%; 
	}
	.section_wrap .contact .con_wrap ul li{
		text-align: center;
		
	}
	.section_wrap .contact .con_wrap ul li span{
		display: block;
		padding-left: 0;
		padding-top: 5%;
	}
		.section_wrap .nav .nav_btn{
		display: block;
	}
	.section_wrap .nav .nav_btn .btn{
		background-color: #121212;
	}

}

@media screen and (max-width :360px) {

	html,
	body {
		font-size: 7px;
	}
	.section_wrap .nav .nav_btn .btn {
	width: 45px;
}
		

	.section_wrap .home .txt-wrap .typing {
		font-size: 6rem;
	}

	.section_wrap .work .m-work.swiper-container .swiper-slide .slide-bottom .btn {
		width: 80%;
	}

	.section_wrap .m-work.swiper-container .swiper-slide img {
		width: 100%;
		height: auto;
	}




}
